<h1>Servers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan=2 class=action-buttons>
        <%= link_to 'New Server', new_server_path, id: 'new' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, server %></td>
        <td class=action-buttons><%= link_to 'Edit', edit_server_path(server), class: 'edit' %></td>
        <td class=action-buttons><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @servers, previous_label: h("<"), next_label: h(">") %>
