<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :authentication_token %>
    <span id="authentication_token"><%= @user.authentication_token %></span>
    <%= f.hidden_field :authentication_token %>
    <%= button_tag "Generate", id: "generate-token", style: (@user.authentication_token.present? ? "display:none;" : nil), data: { url: random_token_api_users_path } %>
    <%= button_tag "Delete", id: "remove-token", style: (@user.authentication_token.blank? ? "display:none;" : nil) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
