<h1>Settings</h1>

<%= render 'layouts/navbar_settings', active: :users %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan=2 class=action-buttons>
        <%= link_to 'New User', new_user_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <td class=action-buttons><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class=action-buttons><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
