<!DOCTYPE html>
<html>
<head>
  <title>Cartoque</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=page-wrap>

  <%= render 'layouts/navbar' %>

  <div class=container>
    <%= content_tag :div, id: "flash" do %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash-#{name}" %>
      <% end %>
    <% end unless flash.empty? %>
    <%= yield %>
  </div>

</div>

<div class=site-footer>
  <% if signed_in? %>
  <div class=container>
    <%= link_to "Cartoque v#{Cartoque::Application::VERSION}", "http://cartoque.org/" %>
    -
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
  <% end %>
</div>

</body>
</html>
